@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato&display=swap');

*{
  margin: 0;
  box-sizing: border-box;
  max-width: 1000px;
  margin: auto;
}

@media screen and (max-width: 800px) {
  .photo{
    background-size: 80% 80%;
  }
}
.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: #878e76;
  display: flex;
  justify-content: center;
  width: 100%;
}

.nav .menu a {
  display: block;
  color: #14110F;
  padding: 14px 16px;
  text-decoration: none;
}

.nav .menu a:hover {
  text-decoration: underline;
}

.content, p{
  max-width: 600px;
  width: 90%;
  margin: 5% auto;
}


.link-box{
  display: block;
  width: fit-content;
  background-color: #878e76;
  color: #14110F;
  padding: 14px 16px;
  text-decoration: none;
  border: 1px solid #14110F;
  border-radius: 4%;
  cursor: pointer;
}


header h1{
  font-size: 3em;
  font-family: "Abril Fatface", serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
}
h2{
  font-size: 1.3em;
}
.photo{
  display: block;
  background-color: rgba(0,0,0,0.5);
  padding: 20% 0%;
  color: #f7f0f0;
  background-size:cover;
  background-repeat: no-repeat;
  background-blend-mode: darken;
}
.sport{
  background-image: url(urheilu.jpg);
}
.work{
  background-image: url(varasto.jpg);
}
html body:not(header){
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #14110F;
}

.slide{
  display: block;
  max-width: 80%;
}


.slideshow {
  max-width: 70%;
  position: relative;
  margin-top: 12px;
}


.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  cursor: pointer;
}

.active{
  background-color: #EE964B;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

footer{
  display: flex;
  border-top: #EE964B solid 2px;
  padding: 1%;
  max-width: 600px;
  width:90%;
  justify-content: center;
}
.footer{
  display: block;
  padding-left: 0;
  block-size: auto;
  align-items: center;
  margin-bottom: 2%;
}

footer a:link{
  color:#14110F;
}
footer a:visited{
  color:#878e76;
}

ul{
  list-style-type: none;
}

li:not(.menu){
  margin-top: 0.25em;
}
